.card-style{
    padding: 260px 0 100px 0;
    min-height: 450px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 10px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
    background-image: url("../../assets/images/registerbg.jpg") ;
    /* background-image: url("../../assets/images/dispatch-rider.jpg") ; */

    background-size: cover;
    background-position: top center;
    overflow: hidden;
    /* padding: 45px 23px; */
    color: white;

  
}

